.App {
  text-align: center;
}
.landing-div {
  height:100%;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  text-align: center;
}
.navbar {
  position:absolute;
  height: 100vh;
  max-height: 100vh;
  width: 99vw;
  max-width: 99vw;
  top:0;
  left:0;
  z-index: 10;
}
.nav-div {
  height: 100%;
  width: 15%;
}
.logo-div {
  height: 20%;
}
.emblem-div {
  height: 60%;
}
.dropdown-div {
  height:20%;
}
.logo-img {
  width: 50%;
  padding: 10px;
  border-radius: 50%;
}
.menu {
  background-color: slategray;
  position: absolute;
  left: 15vw;
  top:0;
  /* height:100%; */
  opacity: 0;
}
/* 
.menu[data-isExpanded = "true"] {
  width: 100%;
}
.menu[data-isExpanded = "false"] {
  width: 0%;
} */
.content {
  top:100vh;
  position: absolute;
}