.App {
  text-align: center;
}
body {
  font-family: 'Cinzel', serif;
  color:white;
  background-color: black;
}

/*============================= LANDING =============================*/
@font-face {
  font-family: bigLandingFont;
  src: url('./fonts/impact.ttf');
}
@font-face {
  font-family: smallLandingFont;
  src: url('./fonts/COPRGTL.TTF');
}

.landing-div {
  height:100%;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  text-align: center;
  background-image: url("./images/landing-image.png");
  background-size:cover;
}
.landing-text-div {
  position:absolute;
  margin: 0;
  top:50%;
  transform: translateY(-50%);
  width: 85vw;
  right:0;
}
.landing-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.landing-big-text {
  font-family: bigLandingFont;
  /* margin-left:15vw; */
  /* margin-top: 5%; */
  margin-top:0;
  margin-bottom: -10%;  
  -webkit-text-stroke: 0.5px black;
  font-size: 13.8vw;
  font-weight:normal;
}
.landing-big-subtext {
  font-family: bigLandingFont;
  /* margin-left:15vw; */
  margin-bottom: 5%;
  -webkit-text-stroke: 1px black;
  font-size: 2.9vw;
  font-weight:normal;
}
.landing-big-div {
  display: flex;
  flex-direction: column;
}
.landing-small-top-text {
  font-family: smallLandingFont;
  display:flex;
  /* margin-top:10%; */
  /* margin-bottom: 0; */
  /* margin-left:15vw; */
  font-size: 1.235vw;
}
.landing-small-bottom-text {
  font-family: smallLandingFont;
  display:flex;
  font-size: 1.235vw;
  /* margin-left: 15vw;
  margin-top: 5%; */
}

/*============================= NAVBAR =============================*/
.navbar {
  position:fixed;
  height: 100vh;
  max-height: 100vh;
  display:flex;
  width: 99vw;
  max-width: 99vw;
  top:0;
  left:0;
  z-index: 10;
  flex-direction: row;
}
.nav-div {
  height: 100%;
  width: 0vw;
  min-width: 10vw;
  max-width: 15vw;
  transform-origin: 0 0;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}
.logo-div {
  height: 20%;
  background-color: rgba(0,0,0,0.8);
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.emblem-div {
  height: 60%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animated-emblem {
  transform: rotate(90deg);
  padding:10px;
  height: 15vw;
  max-height: 15vw;
  max-width: 60vh;
}
.dropdown-div {
  height:20%;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
}
.dropdown-button {
  background-color: transparent;
  border: none;
  width: 30%;
}
.dropdown-button path {
  fill:white;
}
.logo-img {
  width: 50%;
  padding: 10px;
  border-radius: 50%;
}
.emblem-img {
  padding: 10px;
  width: 95%;
}

/*============================= MENU =============================*/
.menu {
  background-color: black;
  position: relative;
  height: 100%;
  width: 0%;
  transform-origin: 0 0;
  top:0;
  opacity: 0;
  max-width: 90vw;
}
.menu-items {
  height: 100%;
  max-height: 100%;
  display: flex;
  text-align: center;
}
.menu-items a {
  text-decoration: none;
  color: white;
}
.menu-items a:hover {
  color:goldenrod;
}
.menu-items ul, li {
  list-style-type: none;
  padding: 0;
}
.search-bar {
  width: 100%;
}
.search-input {
  width: 95%;
  height: 19.5vh;
  font-size: 2.6rem;
  padding:10px;
  margin: 10px;
  background-color: rgba(0,0,0,0);
  color: white;
  border: none;
}
.menu-items-list {
  width: 33%;
  height: 100%;
}
/*============================= MAIN PAGE CONTENT =============================*/
.content {
  top:100vh;
  position: absolute;
  left:15%;
  padding-right: 2.5%;
  padding-left:2.5%;
  width: 80%;
  text-align: center;
}
.content h1 {
  font-size: 6.45vw;
  color:goldenrod;
}
.content h2 {
  color:goldenrod;
}
.content-div {
  display:flex;
  align-items: center;
}
.content-div div {
  width:fit-content;
}
.content-img1 {
  margin-right: 20px;
}
.content-img2 {
  margin-left: 20px;
}